*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(26 , 11, 46,1);
    color: white;
}
.hover{
    
}

.btn{
    border-radius: 30px;
    padding: 16px;
    width: 140px;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(#F7E93F,#F97E77,#FA349E,#CC05D2,#9100F8);
    color: white;
     cursor: pointer;
    transition: .3s;
}


/* nav section */
nav,.view{
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
}

.manu-contain{
    display: flex;
    list-style: none;
    gap: 32px;
    
}
.logo{
    color: ;
    font-size: 3rem;
    font-weight: bold;
}
.links{
    font-size:1rem ;
    font-weight: 600;
    margin-top: 20px;
}
.ham{
    display: none;
}

/* bannar section */


.bannar-containar{
    max-width: 1600px;
    margin: 0px auto;
    margin-top: 0px;
    margin-bottom: 30px;
    background-image: url('footer-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 190px;
}
.img img{
    width: 200px;
    height: 220px;
    padding-top: 90px;
    padding-left:100px ;
    
    
}
.img{
    max-width: 100%;
    margin: 0px auto;
    border-radius: 50%;
    width: 300px;
    height:300px ;
    margin-top: 80px;
    margin-bottom: 30px;
    background-image: url('hero-circle.png');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    
}
.bannar-text{
    padding-left: 160px;
}
.bannar-text h1{
    font-size: 4rem;
    font-weight: bolder;
    padding-left: 80px;
}
.bannar-text p{
    font-size: 1.2rem;
    color: rgba(153, 148, 148, 0.869);
    padding-left: -30px;

}
.button{
    padding-left: 85px;
}
.btn2{
    width: 200px;
    border: none;
}
.btn3{
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #00FF88;
    color:#00FF88;
    width: 120px;
    height: 40px;
    cursor: pointer;
    transition: .3s;
}

.tooltip{
    font-size: 1.3rem;
    font-weight: 600;
    width: 100px;
    height: 50px;
    background-color: #00FF88;
    border-radius: 70px;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    padding-left: -60px;
    transition: trasform 2s ease,background-color 1.2s linear,scale 1s ease;

    
    
}
.tooltip:hover{
    transform: rotate(380deg);
    background-color: darkgreen;
    scale: 1.5;
    
}








/* about */
.about{
margin-top: 50px;
}

.contain{
padding-top: 30px;  text-align: center;  
}
.title{
    font-size: 4rem;
    font-weight: bold;
}
.para{
    font-size: 1rem;
    color: rgba(153, 148, 148, 0.869);
    
}


/* view */
.view{
    margin-top: 60px;
    padding-top: 50px;
    gap: 50px;
    border-top: 1px solid rgba(60, 59, 59, 0.869);
    display: grid;
    grid-template-columns:repeat(4,1fr);
}
/* card */
.card-containar{
margin-top: 80px;
max-width: 1350px;
margin: 0px auto;
}
.card-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
    margin-top: 60px;
}
.card{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 60px;
    border-radius: 40px;
}
.card-title{
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}
.card-head{
    font-size: 1.5rem;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 20px;
}
.card-para{
    font-size: 1rem;
    color: gainsboro;

    
}
.box1{
    grid-row: span 2;

}
.box1 img{
    padding-top: 80px;
    margin-top: 30px;
}
.box2,.box3,.box4{
    grid-column: span 2;
}


/* Featured */
 
.Featured-epi{
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
}
.featured-card-grid{
     max-width: 1600px; 
     margin: 0px auto; 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    
}
.featured-card{
    background-color: #533C72;
    max-width: 1600px;
    margin: 0px auto;
    border-radius: 30px;
    /* padding: 30px; */
}
.featured-text h2{
    font-size: 2rem;
    padding-left: 30px;

}
.featured-text p{
    font-size: 1.2rem;
    color: rgba(207, 195, 195, 0.869);
    padding-left: 30px;

}
.featured-text h4{
    color: #00FF88;
    font-size: 1.4rem;
    font-weight: 900;
    padding-left: 30px;
}

/* meet */

.host{
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
}
.meet-card{
    background-color: #533C72;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 60px;
    padding-top: 30px;
}
.card-text{
    padding-top: 30px;
}
.card-text h2{
    font-size: 2rem;
    font-weight: 900;
}

.card-text p{
    font-size: 1rem;
    color: rgba(207, 195, 195, 0.869);


}
.card-icon img{
    padding: 7px;
    border: .7px solid gray;
    border-radius: 50%;
    margin-right: 10px;
    
    
}

/* footer */
footer{
    
}
.footer-containar{
    max-width: 1600px;
    margin: 0px auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    background-image: url('footer-bg.png');
    background-repeat: no-repeat;
    background-position: center;

}
.footer-containar h1,div,p{
    padding-bottom: 30px;
}
.footer-containar h1{
    font-size: 5rem;
    font-weight: bold;
}
.footer-containar p{
    color: rgba(153, 148, 148, 0.869) ;
}

/* .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
} */
 .icon{
    display: grid;
    grid-template-columns: repeat(4,120px);
    grid-template-rows:repeat(1,100px);
    align-items: center;
    justify-content: center;
 }
.gradient{
  background: -webkit-linear-gradient(#F97E77,#F7E93F,#CC05D2,#FA349E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      
}






/* responsive */
@media screen and (max-width:576px){
    nav{
        padding-left: 30px;
        padding-right: 30px;
    }
    .manu-contain,.btn1{
        display: none;
    }
    .ham{
        display: inline;
    }
    .bannar-text h1{
        text-align: center;
        margin-left:-200px ;
    }
    .bannar-text p{
        margin-left: -130px;

    }
    .btn2{
        
        margin-left: -200px;

    }
    .view{
        grid-template-columns: repeat(2,1fr);
        margin-left: 20px;
    }

    
    .card-content{
        grid-template-columns: repeat(1,1fr);
    }
    .featured-card-grid{
        grid-template-columns: repeat(1,1fr);
    }
    .meet-card{
        flex-direction: column;
    }
    .card-text{
        /* margin-left: 70px; */
        padding-left: 30px;
    }
    .icon{
        grid-template-columns: repeat(2,60px);
    }
    .title,.Featured-epi,.host,.footer-containar h1{
        font-size: 2.3rem;
        font-weight: bold;
    }
    .card-title{
        font-size: 1.2rem;
        font-weight: bold;
    }

    
    
    
}